
{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- ======= Breadcrumbs ======= -->
<div class="breadcrumbs d-flex align-items-center" style="background-image: url('/static/img/breadcrumbs-bg.jpg');">
    <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">
      <marquee style="color: white; margin-bottom: 30px;">SRS INDIA PRIVATE LIMITED IS NABL ACCREDITED LABORATORY.
      </marquee>
      <h2>Services</h2>
      <ol>
        <li><a href="{% url 'index' %}">Home</a></li>
        <li>Services</li>
        <li><a href="{% url 'testing' %}">Testing</a></li>
      </ol>

    </div>
  </div>
  <!-- End Breadcrumbs -->

<div class="container">
<div class="testing">
    <h1 class="text-center my-5" ><ul> Testing Services </ul></h1>
    <p>
        SRS India Private Limited allow us to deliver innovative, customized solutions that streamline testing for customers
        operating accessing markets around the world.
        <br>
        With an exacting testing process, driven by more than a century of technical expertise, OM technical experts
        help customers corroborate that products and services meet proprietary specifications, government regulations,
        and consumer expectations.
        <br>
        Our tools and testing processes continuously evolve to keep pace with the fast-moving advancements in materials
        and innovation across categories such as Tyre, Transformer, IT Equipment, Building Material, LED Lamps, Plastic
        Products, Toys and much more.
    </p>
</div>
<section id="projects" class="projects">
<div class="row gy-4 portfolio-container" data-aos="fade-up" data-aos-delay="200">

    <div class="col-lg-3 col-md-6 portfolio-item filter-remodeling">
      <div class="portfolio-content h-100">
        <img src="/static/img/testing/testing1.jpg" class="img-fluid" alt="">
        <div class="portfolio-info">
          <h4>Atmospheric Pollution</h4>
          </div>
      </div>
    </div><!-- End Projects Item -->

    <div class="col-lg-3 col-md-6 portfolio-item filter-remodeling">
        <div class="portfolio-content h-100">
          <img src="/static/img/testing/testing2.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Audio Equipment</h4>
            </div>
        </div>
      </div><!-- End Projects Item -->

      <div class="col-lg-3 col-md-6 portfolio-item filter-remodeling">
        <div class="portfolio-content h-100">
          <img src="/static/img/testing/testing3.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Biocides</h4>
            </div>
        </div>
      </div><!-- End Projects Item -->

     <div class="col-lg-3 col-md-6 portfolio-item filter-remodeling">
      <div class="portfolio-content h-100">
        <img src="/static/img/testing/testing4.jpg" class="img-fluid" alt="">
        <div class="portfolio-info">
          <h4>Ayush Products</h4>
          </div>
      </div>
    </div>
    <!-- End Projects Item -->

    <div class="col-lg-3 col-md-6 portfolio-item filter-remodeling">
      <div class="portfolio-content h-100">
        <img src="/static/img/testing/testing5.jpg" class="img-fluid" alt="">
        <div class="portfolio-info">
          <h4>Building Material</h4>
          </div>
      </div>
    </div>
    <!-- End Projects Item -->

    <div class="col-lg-3 col-md-6 portfolio-item filter-remodeling">
      <div class="portfolio-content h-100">
        <img src="/static/img/testing/testing6.jpg" class="img-fluid" alt="">
        <div class="portfolio-info">
          <h4>Building Material Mechanical</h4>
          </div>
      </div>
    </div>
    <!-- End Projects Item -->

    <div class="col-lg-3 col-md-6 portfolio-item filter-remodeling">
        <div class="portfolio-content h-100">
          <img src="/static/img/testing/testing7.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Cable Accessories</h4>
            </div>
        </div>
      </div>
      <!-- End Projects Item -->
      
      <div class="col-lg-3 col-md-6 portfolio-item filter-remodeling">
        <div class="portfolio-content h-100">
          <img src="/static/img/testing/testing8.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Domestic Electical Appliances</h4>
            </div>
        </div>
      </div>
      <!-- End Projects Item -->
      
      <div class="col-lg-3 col-md-6 portfolio-item filter-remodeling">
        <div class="portfolio-content h-100">
          <img src="/static/img/testing/testing9.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Domestic Electical Appliances Accessories</h4>
            </div>
        </div>
      </div>
      <!-- End Projects Item -->
      
      <div class="col-lg-3 col-md-6 portfolio-item filter-remodeling">
        <div class="portfolio-content h-100">
          <img src="/static/img/testing/testing14.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Drug Pharma Biology</h4>
            </div>
        </div>
      </div>
      <!-- End Projects Item -->
      
      <div class="col-lg-3 col-md-6 portfolio-item filter-remodeling">
        <div class="portfolio-content h-100">
          <img src="/static/img/testing/testing11.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Drug Pharma Chemical</h4>
            </div>
        </div>
      </div>
      <!-- End Projects Item -->
      
      <div class="col-lg-3 col-md-6 portfolio-item filter-remodeling">
        <div class="portfolio-content h-100">
          <img src="/static/img/testing/testing12.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Electical Conductors</h4>
            </div>
        </div>
      </div>
      <!-- End Projects Item -->

      <div class="col-lg-3 col-md-6 portfolio-item filter-remodeling">
        <div class="portfolio-content h-100">
          <img src="/static/img/testing/testing13.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Electrical Motor</h4>
            </div>
        </div>
      </div>
      <!-- End Projects Item -->

      <div class="col-lg-3 col-md-6 portfolio-item filter-remodeling">
        <div class="portfolio-content h-100">
          <img src="/static/img/testing/testing10.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Electrical Solid Insulators</h4>
            </div>
        </div>
      </div>
      <!-- End Projects Item -->

      <div class="col-lg-3 col-md-6 portfolio-item filter-remodeling">
        <div class="portfolio-content h-100">
          <img src="/static/img/testing/testing15.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Electronic Components</h4>
            </div>
        </div>
      </div>
      <!-- End Projects Item -->

      <div class="col-lg-3 col-md-6 portfolio-item filter-remodeling">
        <div class="portfolio-content h-100">
          <img src="/static/img/testing/testing16.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Electronic Product Safety</h4>
            </div>
        </div>
      </div>
      <!-- End Projects Item -->

      <div class="col-lg-3 col-md-6 portfolio-item filter-remodeling">
        <div class="portfolio-content h-100">
          <img src="/static/img/testing/testing37.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Wiring Accessories</h4>
            </div>
        </div>
      </div>
      <!-- End Projects Item -->

      <div class="col-lg-3 col-md-6 portfolio-item filter-remodeling">
        <div class="portfolio-content h-100">
          <img src="/static/img/testing/testing18.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>ENV Pollution Bio</h4>
            </div>
        </div>
      </div>
      <!-- End Projects Item -->

      <div class="col-lg-3 col-md-6 portfolio-item filter-remodeling">
        <div class="portfolio-content h-100">
          <img src="/static/img/testing/testing19.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Fire Extinguisher</h4>
            </div>
        </div>
      </div>
      <!-- End Projects Item -->

      <div class="col-lg-3 col-md-6 portfolio-item filter-remodeling">
        <div class="portfolio-content h-100">
          <img src="/static/img/testing/testing22.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>IT Equipment</h4>
            </div>
        </div>
      </div>
      <!-- End Projects Item -->

      <div class="col-lg-3 col-md-6 portfolio-item filter-remodeling">
        <div class="portfolio-content h-100">
          <img src="/static/img/testing/testing23.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Liquid Dielectric Equipment</h4>
            </div>
        </div>
      </div>
      <!-- End Projects Item -->

      <div class="col-lg-3 col-md-6 portfolio-item filter-remodeling">
        <div class="portfolio-content h-100">
          <img src="/static/img/testing/testing24.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Medical Electrical Equipment</h4>
            </div>
        </div>
      </div>
      <!-- End Projects Item -->

      <div class="col-lg-3 col-md-6 portfolio-item filter-remodeling">
        <div class="portfolio-content h-100">
          <img src="/static/img/testing/testing21.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Food Product Chemical</h4>
            </div>
        </div>
      </div>
      <!-- End Projects Item -->

      <div class="col-lg-3 col-md-6 portfolio-item filter-remodeling">
        <div class="portfolio-content h-100">
          <img src="/static/img/testing/testing20.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Food Product Biology</h4>
            </div>
        </div>
      </div>
      <!-- End Projects Item -->

      <div class="col-lg-3 col-md-6 portfolio-item filter-remodeling">
        <div class="portfolio-content h-100">
          <img src="/static/img/testing/testing25.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Metal Alloys</h4>
            </div>
        </div>
      </div>
      <!-- End Projects Item -->

      <div class="col-lg-3 col-md-6 portfolio-item filter-remodeling">
        <div class="portfolio-content h-100">
          <img src="/static/img/testing/testing26.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Paints And Suruface Coatings</h4>
            </div>
        </div>
      </div>
      <!-- End Projects Item -->

      <div class="col-lg-3 col-md-6 portfolio-item filter-remodeling">
        <div class="portfolio-content h-100">
          <img src="/static/img/testing/testing27.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Pesticides-Formulation</h4>
            </div>
        </div>
      </div>
      <!-- End Projects Item -->

      <div class="col-lg-3 col-md-6 portfolio-item filter-remodeling">
        <div class="portfolio-content h-100">
          <img src="/static/img/testing/testing28.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Petroleum Product</h4>
            </div>
        </div>
      </div>
      <!-- End Projects Item -->

      <div class="col-lg-3 col-md-6 portfolio-item filter-remodeling">
        <div class="portfolio-content h-100">
          <img src="/static/img/testing/testing29.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Plywood Products</h4>
            </div>
        </div>
      </div>
      <!-- End Projects Item -->

      <div class="col-lg-3 col-md-6 portfolio-item filter-remodeling">
        <div class="portfolio-content h-100">
          <img src="/static/img/testing/testing30.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Power Stablizers</h4>
            </div>
        </div>
      </div>
      <!-- End Projects Item -->

      <div class="col-lg-3 col-md-6 portfolio-item filter-remodeling">
        <div class="portfolio-content h-100">
          <img src="/static/img/testing/testing31.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Residue Food Products</h4>
            </div>
        </div>
      </div>
      <!-- End Projects Item -->

      <div class="col-lg-3 col-md-6 portfolio-item filter-remodeling">
        <div class="portfolio-content h-100">
          <img src="/static/img/testing/testing32.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Residue Water</h4>
            </div>
        </div>
      </div>
      <!-- End Projects Item -->

      <div class="col-lg-3 col-md-6 portfolio-item filter-remodeling">
        <div class="portfolio-content h-100">
          <img src="/static/img/testing/testing33.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Soaps Detergent Toiletries</h4>
            </div>
        </div>
      </div>
      <!-- End Projects Item -->

      <div class="col-lg-3 col-md-6 portfolio-item filter-remodeling">
        <div class="portfolio-content h-100">
          <img src="/static/img/testing/testing34.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Toys Mechanical</h4>
            </div>
        </div>
      </div>
      <!-- End Projects Item -->

      <div class="col-lg-3 col-md-6 portfolio-item filter-remodeling">
        <div class="portfolio-content h-100">
          <img src="/static/img/testing/testing35.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Tyres</h4>
            </div>
        </div>
      </div>
      <!-- End Projects Item -->

      <div class="col-lg-3 col-md-6 portfolio-item filter-remodeling">
        <div class="portfolio-content h-100">
          <img src="/static/img/testing/testing36.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Water</h4>
            </div>
        </div>
      </div>
      <!-- End Projects Item -->

      <!-- <div class="col-lg-3 col-md-6 portfolio-item filter-remodeling">
        <div class="portfolio-content h-100">
          <img src="/static/img/testing/testing17.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>ENV Pollution Chem</h4>
            </div>
        </div>
      </div> -->
      <!-- End Projects Item -->


      
  </div>
</section>
</div>
{% include 'footer.html' %}
{% endblock %}