{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('/static/img/breadcrumbs-bg.jpg');">
        <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">
        </div>
      </div><!-- End Breadcrumbs -->

<div style=" margin-left: 11rem; margin-right: 11rem;" class="col-md-9">
    <u><h1 class="mt-5 mb-5 text-center fw-bold">COMPANY PROFILE</h1></u>
    
    
    <p class="text-center"><img src="images/logo.jpg" style="max-height:250px;" class="img-fluid"></p>
    <div class="img-with-text-LR-text-wapper">
    <p class="first">&emsp;&emsp;Omresearch and Testing Laboratory Pvt. Ltd.  was established in 2019 and founded by Mr. Pravin Mandal(Msc. Bio Chemistry) [MD of Om Research and Testing Laboratory], with a goal of providing high quality and extremely cost-effective analytical services to the Industries, Processor, Traders, Research Institute and various Consumer Organizations. We offer access to a highly qualified Scientific staff of high caliber and equipped with some of the latest instrumentation techniques as we are independent agency. Our dedication to a rapid turn around with high quality and reliability coupled with close interaction with the clients, industries, and users leads to customer satisfaction.</p>
    <p>
    Omresearch and Testing Laboratory Pvt. Ltd. has been on the growth path from the beginning. Started by the founder with a humble beginning today Omresearch and Testing Laboratory Pvt. Ltd. is a multi-location, multi-product, multi-operation agency rendering services to many Government bodies, Industries, statutory bodies, NGO’s since 2019 with an objective to provide true results to its customers and maintain full privacy to them as Third Party Independent Organization.</p>
    </div>

    <hr>

<i><h3 style="padding-bottom:30px;">Philosophy</h3></i>

<div class="">
    <i><h4 class="text">Trust And Honesty</h4></i>
    <div class="img-with-text-LR-text-wapper">
    <i><p class="first">Key integrity rules as Honesty, Reliability and Trust Spirit of responsiveness by recognizing all who contribute and respond innovatively to market trends, future opportunities and client needs.</p></i>
    </div>
    <hr>
</div>
<b><h2>OM RESEARCH AND TESTING LABORATORY PVT. LTD. IN BRIEF</h2></b>

<br>
<h4>Our Value to society is enabling a  better, safer and more interconnected world.</h4>


<p>Wherever you are in the world, in whichever industry, you can rely on our international teams of experts to provide specialised solutions to make your business faster, simpler and more efficient.
<br>

We partner with you to deliver independent services that will help you to improve operations, reduce risk and develop smart solutions.</p>


<b><h2>OUR GROUP PROFILE</h2></b>

<br>
<p>Omresearch and Testing Laboratory Pvt. Ltd. is the No #1 leading inspection, verification, testing and certification company. We are recognised as the national benchmark for quality and integrity.
Our core services can be divided into four categories:</p>
<p style="padding-left:50px;"><b><u>Inspection:</u></b> our comprehensive range of world-leading inspection and verification services, such as checking the condition and weight of traded goods at transshipment, help you to control quantity and quality, and meet all relevant regulatory requirements across different regions and markets</p>

<p style="padding-left:50px;"><b><u>Testing:</u></b> our national network of testing facilities, staffed by knowledgeable and experienced personnel, enable you to reduce risks, shorten time to market and test the quality, safety and performance of your products against relevant health, safety and regulatory standards</p>



</div>

{% include 'footer.html' %}
{% endblock %}