{% extends 'base.html' %}
{% load static %}
{% block content %}

   <!-- ======= Breadcrumbs ======= -->
   <div class="breadcrumbs d-flex align-items-center" style="background-image: url('/static/img/breadcrumbs-bg.jpg');">
    <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

    </div>
  </div><!-- End Breadcrumbs -->

<div style="margin-left: 11rem; margin-right: 11rem;" class="col-md-9">

    <h1 class="fw-bold text-center mt-5 mb-5">Man Power</h1>

<p class="text-center"><img src="images/man-power-image.png" style="max-height:350px;" class="img-fluid"></p>
    <p class="first">As an independent contract agency we offer access to a highly qualified Scientific staff of high caliber and equipped with some of the latest instrumentation techniques.</p>
    <p>Our dedication to a rapid turn around with high quality and reliability coupled with close interaction with the clients, industries, and users lead to customer satisfaction. Testing and Inspection work is undertaken under the supervision of more than 100 highly qualified and experienced staff. All of them are well versed with the latest technique &amp; quality management system</p>

    <hr>

    <h4 class="fw-bold mt-5 mb-5 text-danger">Organization Chart</h4>
    <img src="images/Organization-Chart-small.jpg" alt="Organization Chart" title="Organization Chart" class="float-end">
    <div class="img-with-text-LR-text-wapper">
    <p class="first">Om Research &amp; Testing Laboratory believes that Human resources are the most important resources of the organization and hence we strive hard to engage best people in the industry for serving our clients. With more than 50 persons engaged for various activities, Om Research &amp; Testing Laboratory has a pool of people with vast experience and qualification For Lab Analyst / Scientist / Engineers: We have Ph.D.'s, MSc's, BSc's, Engineers etc with vast background from various industry's. Apart from this Sales and marketing is being handled by MBA's and graduates with one focus of customer satisfaction.</p>
    </div>

        <hr>

    </div>

{% include 'footer.html' %}
{% endblock %}