{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('/static/img/breadcrumbs-bg.jpg');">
        <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">
  
        </div>
      </div><!-- End Breadcrumbs -->

<div style="margin-left: 11rem; margin-right: 11rem;" class="col-md-9">
    <u><h1 class="fw-bold text-center mt-5 mb-5">MANAGEMENT CREDENTIALS</h1></u>
    
    
    <p class="text-center"><img src="images/management-meeting.jpg" style="max-height:350px;" class="img-fluid"></p>
    <div class="img-with-text-LR-text-wapper">
    <p class="first">The overall responsibility of the operations of the laboratory is on the Director, who is supported by Director (Technical), Director(S&amp;D) and the staff. The overall technical functioning, which includes a quality system of the laboratory is monitored by the Director Technical with the assistance of Quality Manager.</p>
    <p>The working of the mechanical, biological, electrical and chemical laboratories are supervised by Quality Manager , who is assisted by other staff as per Organisation chart. The performance of the staff is monitored by Quality Manager and Director Technical.
        <br></p>
        <span style="font-size: 150px;"><b><h1>The best credential management system</h1></b></span>
        <p>
            The need to keep passwords secure and free from disclosure is important in any organization. In the past, IT departments created a weak point in system security because support technicians needed to know system passwords in order to log into a resource and fix a problem.
            <br>
        The creation of credential management systems removed the need for technicians to know passwords in order to carry out their tasks. The automated credentials request procedures built into system access software also removes the need for an operator to get involved with system or user passwords.
    </p>
    </div>
    <hr>
</div>

{% include 'footer.html' %}
{% endblock %}