{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('/static/img/breadcrumbs-bg.jpg');">
        <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">
  
        </div>
      </div><!-- End Breadcrumbs -->

<div style="padding-left: 70px; padding-right: 70px; margin-left: 11rem; margin-right: 11rem;" class="col-md-9">
    <u><h1 class="mt-5 mb-5 text-center fw-bold">MANAGING DIRECTOR DESK</h1></u>
    
    
    <p class="text-center"><img src="images/logo.jpg" style="max-height:250px;" class="img-fluid"></p>
    <div class="img-with-text-LR-text-wapper">
    <p class="first">&emsp;&emsp;<b>Omresearch</b>  and Testing Laboratory Pvt. Ltd. was established in the year__, at Ratu Road,
    Ranchi, Jharkhand. 
   
    
   This is of Almost __ years old in Inspection &amp; Testing Division.</p>
    <p>Mr. Pravin Kumar Mandal The Director of ORTL Pvt. Ltd is from Ranchi Jharkhand.</p>
    
    </div>

    <hr>


<div class="">
    <div class="img-with-text-LR-text-wapper">
    <i><p class="first">Mr. Pravin Kumar Mandal have total 20 years of experiences in the field of iron, soil, polymers &amp; water testing &amp; inspection. He is very dynamic, professional, energetic and hard working and adopting new ideas which is relevant to him. One more thing about our Managing Director is that he does works very passionately &amp; honestly.</p></i>
    </div>
    <hr>
</div>


</div>

{% include 'footer.html' %}
{% endblock %}