{% extends 'base.html' %}
{% load static %}
{% block content %}


<!-- ======= Hero Section ======= -->
<section id="hero" class="hero">


  <div class="info d-flex align-items-center">
    <div class="container">
      <div class="row justify-content-center">
        <marquee style="color: white; margin-bottom: 30px;">SRS INDIA PRIVATE LIMITED IS NABL ACCREDITED LABORATORY.
        </marquee>
        <div class="col-lg-6 text-center">
          <h2 data-aos="fade-down">Qyality Testing<span> Laboratory</span></h2>
          <p data-aos="fade-up">Om Research and Testing Laboratory for delivering an extensive range of building
            material testing…</p>
          <a data-aos="fade-up" data-aos-delay="200" href="#get-started" class="btn-get-started">Get Started</a>
        </div>
      </div>
    </div>
  </div>

  <div id="hero-carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">

    <div class="carousel-item active" style="background-image: url(static/img/hero-carousel/hero-carousel-1.jpg)"></div>
    <div class="carousel-item" style="background-image: url(static/img/hero-carousel/hero-carousel-2.jpg)"></div>
    <div class="carousel-item" style="background-image: url(static/img/hero-carousel/hero-carousel-3.jpg)"></div>
    <div class="carousel-item" style="background-image: url(static/img/hero-carousel/hero-carousel-4.jpg)"></div>
    <div class="carousel-item" style="background-image: url(static/img/hero-carousel/hero-carousel-5.jpg)"></div>

    <a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
    </a>

    <a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
    </a>

  </div>

</section><!-- End Hero Section -->

<!-- services Section -->
<section style="padding: 40px !important;" id="constructions" class="constructions">
  <div class="container">
    <div class="row gy-4">
      <div class="col-lg-3">
        <div class="card-item">
          <div class="card-body">
            <h4 class="card-title">Testing</h4>
            <p>We are the world's leading testing, inspection and certification company</p>
            <a href="">read more...</a>
          </div>
        </div>
      </div><!-- End Card Item -->

      <div class="col-lg-3">
        <div class="card-item">
          <div class="card-body">
            <h4 class="card-title">Inspection</h4>
            <p>Verify the quality of your bulk cargo and get accurate representative results </p><a href="">read
              more...</a>
          </div>

        </div>
      </div><!-- End Card Item -->

      <div class="col-lg-3">
        <div class="card-item">
          <div class="card-body">
            <h4 class="card-title">NDT</h4>
            <p>The Company has complete in house facility to execute various jobs related to ...</p>
            <a href="">read more...</a>
          </div>

        </div>
      </div><!-- End Card Item -->

      <div class="col-lg-3">
        <div class="card-item">
          <div class="card-body">
            <h4 class="card-title">Enviornment</h4>
            <p>Environmental testing simulates the different climatic conditions</p>
            <a href="">read more...</a>
          </div>
        </div>
      </div><!-- End Card Item -->

    </div>

  </div>
</section>
<!-- Service section ends -->

<!-- offerings starts -->
<section id="services" class="services section-bg">
  <div class="container" data-aos="fade-up">
    <div class="row gy-4">
      <div class="col-lg-4 col-md-6">
        <div class="service-item  position-relative" style="padding-bottom: 0px;">
          <a href="">
          <img src="/static/img/chem_test.jpg" alt="">
          <p class="test-p">Chemical Testing</p>
        </a>
        </div>
      </div><!-- End Service Item -->

      <div class="col-lg-4 col-md-6">
        <div class="service-item  position-relative" style="padding-bottom: 0px;">
          <a href="">
          <img style=" height:80%; " src="/static/img/construction-test.jpg" alt="">
          <p class="test-p">Non Destructive Testing</p>
        </a>
        </div>
      </div><!-- End Service Item -->

      <div class="col-lg-4 col-md-6">
        <div class="service-item position-relative" style="padding-bottom: 0px;">
          <a href="">
          <img src="/static/img/service-test.jpg" alt="">
          <p class="test-p">Services</p>
        </a>
        </div>
      </div><!-- End Service Item -->

      <div class="col-lg-4 col-md-6">
        <div class="service-item position-relative">
          <a href="">
          <img src="/static/img/material-test.jpg" alt="">
          <p class="test-p">Material Testing</p>
        </a>
        </div>
      </div><!-- End Service Item -->

      <div class="col-lg-4 col-md-6">
        <div class="service-item position-relative">
          <a href="">
          <img src="/static/img/mission-test.jpg" alt="">
          <p class="test-p">Mission and Values</p>
        </a>
        </div>
      </div><!-- End Service Item -->

      <div class="col-lg-4 col-md-6">
        <div class="service-item position-relative">
          <a href="">
          <img src="/static/img/consulting.jpg" alt="">
          <p class="test-p">Consulting</p>
        </a>
        </div>
      </div><!-- End Service Item -->
    </div>
  </div>
</section>
<!-- Offerings ends -->

<!-- Why Choose us starts-->
<section class="why_choose_us">
  <div class="head">
    <h1>Why choose us</h1>
  </div>
  <div class="nums">
    <div class="nums1">
      <h2>500</h2>
      <p>Testing Done Onsite & Offsite</p>
    </div>
    <div class="nums2">
      <h2>60</h2>
      <p>Clients We Have Served</p>
    </div>
    <div class="nums1">
      <h2>275</h2>
      <p>Equipments Available</p>
    </div>
  </div>
</section>
<!-- Why Choose us ends -->

<!-- Google section starts-->
<section style="padding: 40px;" class="google-sec">
  <div class="google">
    <a href=""><img class="soc" src="/static/img/google.png" alt=""></a>
    <img class="star" src="/static/img/stars.png" alt="">
  </div>
  <div class="just-dial">
    <a href=""><img class="soc" src="/static/img/justdial.png" alt=""></a>
    <img class="star" src="/static/img/stars.png" alt="">
  </div>
</section>
<!-- Google section ends -->

<!-- Clients section starts -->
<section style="padding-top: 0px;" class="clients">
  <h4 style="text-align: center;">Our Clients</h4>
  <marquee><b style="font-size: 20px;"><img style="height: 50px;"
        src="https://omlaboratory.co.in/images/mecon.png">Mecon | <img style="height: 50px;" src="https://omlaboratory.co.in/images/gail.png"> Gail
      | <img style="height: 50px;" src="https://omlaboratory.co.in/images/ccl.png"> CCL |<img style="height: 100px;" src="https://omlaboratory.co.in/images/juidco.png">
      JUIDCO | JSBCCL |<img style="height: 30px;" src="https://omlaboratory.co.in/images/acc.png"> ACC cement | <img style="height: 50px;"
        src="https://omlaboratory.co.in/images/saluja.png"> Saluja | <img style="height: 50px;" src="https://omlaboratory.co.in/images/railway.png">East Central Railway |
      <img style="height: 50px;" src="https://omlaboratory.co.in/images/ncc.png"> NCC limited |<img style="height: 50px;" src="https://omlaboratory.co.in/images/jusnl.png">
      JUSNL | <img style="height: 50px;" src="https://omlaboratory.co.in/images/nbcc.png"> NBCC |</b></marquee>
</section>
<!-- Clients section ends -->
{% include 'footer.html' %}
{% endblock %}