{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
    #projects{
        margin: 20px 120px;
    }
    .portfolio-content img{
        width: 250px !important;
        height: 155px !important;
    }
</style>

 <!-- ======= Breadcrumbs ======= -->
 <div class="breadcrumbs d-flex align-items-center" style="background-image: url('/static/img/breadcrumbs-bg.jpg');">
    <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">
        <marquee style="color: white; margin-bottom: 30px;">SRS INDIA PRIVATE LIMITED IS NABL ACCREDITED LABORATORY.
        </marquee>
    </div>
  </div><!-- End Breadcrumbs -->
  <div class="building-material">
    <h2 style="text-align: center; text-decoration:underline; margin-top:40px">PRODUCTS UNDER MECHANICAL TESTING</h2>
  </div>
  <section  id="projects" class="projects">
    <div class="row gy-4 portfolio-container" data-aos="fade-up" data-aos-delay="200">
    
        <div class="col-lg-3 col-md-6 portfolio-item filter-remodeling">
          <div class="portfolio-content h-100">
            <img src="/static/img/operational area/mt1.jpeg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Building Material Chemical</h4>
              </div>
          </div>
        </div><!-- End Projects Item -->
    
        <div class="col-lg-3 col-md-6 portfolio-item filter-remodeling">
            <div class="portfolio-content h-100">
                <img src="/static/img/operational area/mt2.jpeg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Fire Extinguishers</h4>
                </div>
            </div>
          </div><!-- End Projects Item -->
    
          <div class="col-lg-3 col-md-6 portfolio-item filter-remodeling">
            <div class="portfolio-content h-100">
                <img src="/static/img/operational area/mt3.jpeg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Metal & Alloys Plywood Products</h4>
                </div>
            </div>
          </div><!-- End Projects Item -->
    
         <div class="col-lg-3 col-md-6 portfolio-item filter-remodeling">
          <div class="portfolio-content h-100">
            <img src="/static/img/operational area/mt4.jpeg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Plywoood Products</h4>
              </div>
          </div>
        </div>
        <!-- End Projects Item -->
    
        <div class="col-lg-3 col-md-6 portfolio-item filter-remodeling">
          <div class="portfolio-content h-100">
            <img src="/static/img/operational area/mt5.jpeg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Building Material Chemical</h4>
              </div>
          </div>
        </div>
        <!-- End Projects Item -->
    
        <div class="col-lg-3 col-md-6 portfolio-item filter-remodeling">
          <div class="portfolio-content h-100">
            <img src="/static/img/operational area/mt6.jpeg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Fire Extinguishers</h4>
              </div>
          </div>
        </div>
        <!-- End Projects Item -->
    
        <div class="col-lg-3 col-md-6 portfolio-item filter-remodeling">
            <div class="portfolio-content h-100">
                <img src="/static/img/operational area/mt7.jpeg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Metal & Alloys Plywood Products</h4>
                </div>
            </div>
          </div>
          <!-- End Projects Item -->
          
          <div class="col-lg-3 col-md-6 portfolio-item filter-remodeling">
            <div class="portfolio-content h-100">
                <img src="/static/img/operational area/mt8.jpeg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Plywoood Products</h4>
                </div>
            </div>
          </div>
          <!-- End Projects Item -->
          
          <div class="col-lg-3 col-md-6 portfolio-item filter-remodeling">
            <div class="portfolio-content h-100">
                <img src="/static/img/operational area/mt9.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Building Material Chemical</h4>
                </div>
            </div>
          </div>
          <!-- End Projects Item -->
          
          <div class="col-lg-3 col-md-6 portfolio-item filter-remodeling">
            <div class="portfolio-content h-100">
                <img src="/static/img/operational area/mt10.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Fire Extinguishers</h4>
                </div>
            </div>
          </div>
          <!-- End Projects Item -->
          
          <div class="col-lg-3 col-md-6 portfolio-item filter-remodeling">
            <div class="portfolio-content h-100">
                <img src="/static/img/operational area/mt11.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Metal & Alloys Plywood Products</h4>
                </div>
            </div>
          </div>
          <!-- End Projects Item -->
          
          <div class="col-lg-3 col-md-6 portfolio-item filter-remodeling">
            <div class="portfolio-content h-100">
                <img src="/static/img/operational area/mt12.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Plywoood Products</h4>
                </div>
            </div>
          </div>
          <!-- End Projects Item -->
    
          <div class="col-lg-3 col-md-6 portfolio-item filter-remodeling">
            <div class="portfolio-content h-100">
                <img src="/static/img/operational area/mt13.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Toys Mechanical</h4>
                </div>
            </div>
          </div>
          <!-- End Projects Item -->
    
          <div class="col-lg-3 col-md-6 portfolio-item filter-remodeling">
            <div class="portfolio-content h-100">
                <img src="/static/img/operational area/mt14.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Tyres</h4>
                </div>
            </div>
          </div>
          <!-- End Projects Item -->
    
          
          <!-- End Projects Item -->
    
          <!-- <div class="col-lg-3 col-md-6 portfolio-item filter-remodeling">
            <div class="portfolio-content h-100">
              <img src="/static/img/testing/testing17.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>ENV Pollution Chem</h4>
                </div>
            </div>
          </div> -->
          <!-- End Projects Item -->
    
    
          
      </div>
    </section>

{% include 'footer.html' %}
{% endblock %}